#calendar--main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 90vw ;
  margin-left: 5vw;
  max-width: 600px;
  margin: auto;
  overflow-x:. auto;
}

#calendar--main .day-name {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

#calendar--main .day {
  aspect-ratio: 1 / 1 !important; /* quadrati perfetti */
  background: var(--sfondo1);
  border-radius: 1rem;
  border-bottom: 1px solid var(--bordo-chiaro);
  border-left: 1px solid var(--bordo-chiaro);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
  color: var(--testo);
  align-items: center; justify-items:center;
 }

#calendar--main .day .number {
  align-items:center; justify-items:center;
  font-family: var(--font-2);;
  font-size: 1.5rem;
  color: var(--evidenziato);
  padding: 0;
}

/* pc / laptop */
@media (min-width: 1024px) {
  #calendar--main .day .number  { font-size: 2.5rem;}
  }

#calendar--main .day .tasks {
  display: flex;
  gap: 1px;
  margin: auto;
  margin-top: auto;/* li spinge in basso */
}

#calendar--main .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
}
#calendar--main .cal-priority-test {background: red; }
#calendar--main .cal-priority-1 { background: green; }
#calendar--main .cal-priority-2 { background: yellow; }
#calendar--main .cal-priority-3 { background: orange; }
