/*VARIABILE PER TOGGLE TEMA*/
:root{
  --testo: #eee;
  --evidenziato: #4cafef;
  --sfondo: #333;
  --sfondo1: #3a3a3a;
  --bordo-scuro: #222;
  --bordo-chiaro: #555;

  --font-1: 'Orbitron';
  --font-2: 'Rubik Dirt';
}

body.light-mode{
  --testo: #111;
  --evidenziato: #4cafef;
  --sfondo: #efeffa;
  --sfondo1: #fefafa;
  --bordo-scuro: #ddd;
  --bordo-chiaro: #eee;
}
